*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    /* max-width: 100vw; */
    background-color: #F3F4F6;
    overflow-y:scroll;
    overflow-x:hidden;
}

/* navbar */
.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    position: fixed;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0000ff;
}
.logo:hover{
    cursor: pointer;
}
.list{
    display: flex;
    gap: 2.2rem;
    list-style: none;
}
.item a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    transition: all 0.5 ease;
}
.item a:hover{
    color: #0000ff;
    cursor: pointer;
}
.toggle{
    display: none;
}

/* hero-section */
.hero-container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    background: linear-gradient(180deg, #1e3a8a , #172554 );

}
.hero-container h1{
    font-size: 4rem;
}
.hero-container p{
    text-align: center;
    font-size: 1.2rem;
    padding: 0rem 20rem;
    color: white;
}
.span1{
    color: #1e90ff;
}
.span2{
    color: white;
}
.hero-button{
    height: 3rem;
    width: 12rem;
    background-color: white;
    border-radius: 5rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: #4f46e5;
    color: white;
    border: none;
    transition: all 0.8s ease;
}
.hero-button a{
    text-decoration: none;
    color: white;
}
.hero-button:hover{
    background-color: #3730a3;
    transform: scale(1.05);
}

/* courses-section */
.course-container{
    height: 100vh;
    width: 100%;
    background-color: azure;
    display: grid;
    justify-content: center;
    align-items: center;
}
.c-text{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2.5rem;
}
.course-card{
    height: 71vh;
    width: 90vw;
    display: flex;
    border-radius: 2rem;
    border: none;
    box-shadow: 1rem 1rem 1rem  rgba(0,0,0,0.2);
    transition: all 0.5 ease;
    background-color: white;
}
.card-course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.2rem;
    padding: 0 4rem;
}
.card-course h1{
    font-size: 1.8rem;
}
.card-course p{
    font-size: 1rem;
}
.card-course ul{
    font-size: 1rem;
    display: grid;
    gap: 0.7rem;
}
.course-button{
    height: 3rem;
    width: 10rem;
    border-radius: 5rem;
    font-size: 1.1rem;
    background-color: #4f46e5;
    color: white;
    border: none;
    transition: all 0.8s ease;
}
.course-button a{
    text-decoration: none;
    color: white;
}

.course-button:hover{
    background-color: #172554;
    transform: scale(1.05);
}
.course-image img{
    height: 70vh;
    width: 40vw;
    object-fit: cover;
    border-radius: 0rem 2rem 2rem 0rem; 
    border: none;  
}

/* about-section */
.about-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 3rem;
    text-align: center;
    padding: 0 3rem;
    background-color: #F3F4F6;
}
.about-container h1{
    font-size: 2.5rem;
}
.about-container p{
    font-size: 1.3rem;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.pro{
    height: 250px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 0 2rem;
    transition: all 0.3s ease;
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
}
.pro:hover{
    transform: scale(1.05);
}
.pro h2{
    font-size: 1.5rem;
}
.pro p{
    font-size:1rem;
}

/* contact-section */
.contact-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}
.contact-container h1{
    font-size: 2rem;
    padding-top: 4rem;
}
.contact-container p{
    font-size: 1rem;
    padding: 0 2rem;
    text-align: center;
}
.contact-form{
    height: 80vh;
    width: 50vw;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
    padding: 3rem 0;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.input label{
    font-size: 1rem;
}
.input input{
    width: 45vw;
    height: 7vh;
    border-radius: 4rem;
    border: 1px solid grey;
}
textarea{
    width: 45vw;
    height: 15vh;
    border-radius: 2rem;
}
.submit-btn{
    width: 45vw;
    height: 7vh;
    border-radius: 2rem;
    border: none;
    background-color: #4f46e5;
    font-size: 1.2rem;
    color: white;
    transition: all 0.8s ease;
}
.submit-btn:hover{
    background-color: #172554;
    transform: scale(1.05);
}

/* footer-section */
footer{
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111827;
    color: white;
    gap: 1.5rem;
    margin-top: 6rem ;
}
footer h1{
    font-size: 1.5rem;
}
footer p{
    font-size: 1rem;
}




